body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f1f1f1;
  }
  
  .burger {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent; /* Set background color to transparent */
    border-radius: 50%;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .bun {
    flex: 1;
    background-color: #e0ac69;
    border-radius: 50%;
  }
  
  .top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .lettuce {
    flex: 0.2;
    background-color: #5b9956;
    margin-top: 5px;
    border-radius: 5px;
  }
  
  .tomato {
    flex: 0.15;
    background-color: #d82424;
    margin-top: 5px;
    border-radius: 50%;
  }
  
  .cheese {
    flex: 0.15;
    background-color: #ffc23b;
    margin-top: 5px;
    border-radius: 5px;
  }
  
  .patty {
    flex: 0.5;
    background-color: #3c2810;
    margin-top: 5px;
    border-radius: 5px;
  }
  
  @media (max-width: 600px) {
    .burger {
      width: 250px;
      height: 250px;
      padding: 10px;
    }
  }
  